.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
.editorconfig
.gitattributes
.gitignore
README.md
public/hot
public/storage
