/.phpunit.cache
/.phpunit.result.cache
/node_modules/
/vendor/

/.env
/.env.*
!/.env.example

/public/hot
/public/build/


/storage/*.key
/storage/app/private/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore

/meilisearch/
/.git-old-backup/

*.exe
*.zip
*.rar
*.7z
tests.zip

/.idea/
/.vscode/
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
